Masters_Backup/
Source/
Code/__pycache__/
config.json
Source - Copy/
Source_Translated - Copy/
Source_Translated_new
Updated_Files - Copy/
Masters_Backup - Copy/
Masters_Backup - Copy (2)
New_Entries/
Assets_Backup/
Patched_Textures/
Translated_Files/
debug.log
.vscode/launch.json
Android/master
Android/Masters_Backup
test.py