Code/__pycache__/
config.json
Source_Translated - Copy/
Updated_Files - Copy/
Masters_Backup - Copy/
New_Entries/
Assets_Backup/
Patched_Textures/
Translated_Files/
debug.log
.vscode/launch.json
test.py
Android/master
Android/Game_Assets
Android/Translated_Prefabs
Android/Masters_Backup
Android/Source_Copy
DMM/Masters_Backup
Global_Assets
Mobile_Masters
